.DS_Store
Controles/Control 1/.ipynb_checkpoints/
Controles/Control 2/__pycache__/
Controles/Control 2/.ipynb_checkpoints/
Controles/Control 3/.ipynb_checkpoints/
**.synctex.gz
**.log
**.out
**.aux
**.fls
**.fdb_latexmk
Controles/Control 4/.ipynb_checkpoints/
Controles/Control 4/KND.synctex.gz
Controles/Control 4/KND.fls
Controles/Control 4/KND.log
Controles/Control 4/KND.aux
Controles/Control 4/KND.fdb_latexmk
Controles/Control 4/KND.out